$mainColor: green;

ul{

li{
  color: lighten($mainColor,50%);
}

a{
  &:hover{
  color: darken($mainColor,75%);
}
  text-decoration: none;  
}
}


a{
  &:hover{
  color: darken($mainColor+100,75%);
}
  text-decoration: none;  
}



h1{
  color: darken($mainColor+100,75%);
}